/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  background-color: black;
}

@font-face {
  font-family: "Manrope, sans-serif";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background: linear-gradient(var(--gray-gradient)) no-repeat;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: white;
}

main {
  margin: auto;
  background-color: black;
}

.padding-global {
  padding-left: 5%;
  padding-right: 5%;
}

.container {
  margin: auto;
}

.container-large {
  max-width: 1200px;
}

/* text and header stylings */
h1 {
  font-family: "Manrope", sans-serif;
  font-size: 3.3rem;
  line-height: 3.8rem;
}
h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}
h3 {
  font-size: 1.1rem;
  line-height: 1.75rem;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
}

/* screen reader */
.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
