---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

// Import the getImage function and the image you want to optimize
import { getImage } from "astro:assets";
import gradientBackground from "../images/backgrounds/gradient-1600.png";
import Skills from "../components/Skills.astro";
import Philosophy from "../components/Philosophy.astro";

// Use getImage() to optimize the image
const optimizedBackground = await getImage({
  src: gradientBackground,
});
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <!-- Hero Section -->
      <div
        style={`background-image: url('${optimizedBackground.src}'); background-size: cover; background-repeat: no-repeat;`}
        class="gradient-background"
      >
        <div class="container container-large">
          <div class="padding-global">
            <Nav title={SITE_TITLE} />
            <Hero />
          </div>
        </div>
      </div>

      <Skills />

      <Philosophy />

      <Experience />

      <Footer />
    </main>
  </body>
</html>
