---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getImage } from "astro:assets";
// import gradientBackground from "../images/backgrounds/gradient.png";
import gradientBackground from "../images/backgrounds/gradient-1600.png";

import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Skills from "../components/Skills.astro";
import Philosophy from "../components/Philosophy.astro";
import Portfolio from "../components/Portfolio.astro";
import Testimonials from "../components/Testimonials.astro";
import BlogWidget from "../components/BlogWidget.astro";

// Use getImage() to optimize the image
const optimizedBackground = await getImage({
  src: gradientBackground,
});
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script
      defer
      data-domain="thomasfaddegon.dev"
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <main class="min-h-screen">
      <!-- Hero Section -->
      <div class="gradient-background">
        <Nav title={SITE_TITLE} />
        <Hero />
      </div>

      <Skills />

      <Philosophy />

      <Experience />

      <Portfolio />

      <Testimonials />

      <Footer />
    </main>
  </body>
</html>
