---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <container class="padding-global">
        <div class="gradient-background">
          <Header title={SITE_TITLE} />
          <h1>
            Hi! I'm Thomas. I bring websites and digital applications to life.
          </h1>
          <p>
            With a holistic skillset of engineering, user behavior, and product
            strategy, I turn thoughts into tangible realities.
          </p>
        </div>
      </container>
    </main>
    <Footer />
    <style>
      .gradient-background {
        background-image: url("/backgrounds/gradient-1600s.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
    </style>
  </body>
</html>
