---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import ResumePosition from "../components/ResumePosition.astro";
import DownloadIcon from "../components/DownloadIcon.astro";
import Button from "../components/Button.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="min-h-screen">
      <Nav title={SITE_TITLE} />
      <div class="h-10"></div>

      <section class="pb-24">
        <div class="container container-large">
          <div class="padding-global">
            <div class="padding-extra flex justify-center items-center">
              <div class="flex flex-col max-w-4xl gap-2">
                <DownloadIcon />
                <div class="flex flex-row items-center justify-center gap-4">
                  <div class="text-center text-4xl md:text-5xl mb-2">
                    Thomas Faddegon
                  </div>
                </div>
                <h3 class="text-center text-xl mb-10">
                  Product Engineer | Brooklyn, NY
                </h3>
                <p class="mb-8">
                  Hello! I am a dedicated product engineer with a proven track
                  record of leveraging front-end technologies, product strategy,
                  user-centric design, and data analysis to enhance digital
                  platforms and achieve business goals. With over 10 years of
                  web experience building and optimizing web products, my work
                  has led to significant improvements in traffic, user
                  engagement, conversion rates, and overall business growth. My
                  holistic approach blends an empathetic and intuitive
                  understanding of user behavior with robust analytical
                  insights, and I am eager to help your team craft solutions
                  grounded in user needs and refined with data-driven
                  strategies.
                </p>
                <!-- Technical Profiencies -->
                <div class="mb-2">
                  <h2 class="mb-4">Technical Profiencies</h2>

                  <div class="flex flex-col gap-[4px]">
                    <span>
                      <strong>Front-End Development:</strong> Javascript, typescript,
                      React, NextJS, Node, REST, Astro, CSS, Sass, SQL, NoSQL.
                    </span>
                    <span>
                      <strong>Product & Marketing:</strong> Competitor/market analysis,
                      content strategy, KPI analysis, SEO & SEM, A/B testing.
                    </span>
                    <span>
                      <strong>UX/UI Design:</strong> User research, page design and
                      optimization, user testing, Figma, wireframing.
                    </span>
                    <span>
                      <strong>Data & Analytics:</strong> GA, funnel/conversion optimization,
                      data analysis and visualization, Python, NumPy, Pandas.
                    </span>
                  </div>
                </div>
                <!-- Professional Experience -->
                <div>
                  <h2 class="mb-4 mt-6">Professional Experience</h2>
                  <ResumePosition
                    position="Product/UX Engineer"
                    company="The Luminary Agency"
                    date="2021 - Present"
                    link="https://www.theluminaryagency.com/"
                  >
                    <li>
                      Developed responsive web interfaces using WordPress,
                      Webflow, Squarespace, and HTML/CSS/JavaScript.
                    </li>
                    <li>
                      Created UI wireframe designs with Figma, Relume, and
                      Balsamiq, improving user experience and navigability.
                    </li>
                    <li>
                      Achievements across various clients include a 1,000%
                      traffic increase, 150% higher conversion rates, and 15%
                      lower bounce rates.
                    </li>
                  </ResumePosition>
                  <ResumePosition
                    position="Product/UX Engineer"
                    company="Higher Self Yoga"
                    date="2020 - Present"
                    link="https://higherselfyoga.org/"
                  >
                    <li>
                      Led a team in migrating from WordPress to Webflow to
                      enhance design and functionality, which increased site
                      speed by 50%, reduced bounce rates by 5%, and increased
                      conversions by 25%.
                    </li>
                    <li>
                      Designed and implemented a product and marketing strategy
                      that grew user traffic from 1,000 to 25,000 monthly and
                      expanded our email list from 2,000 to 16,000.
                    </li>
                  </ResumePosition>
                  <ResumePosition
                    position="Director of Digital Content and Marketing"
                    company="Cruiseline.com"
                    date="2018 - 2020"
                    link="https://cruiseline.com/"
                  >
                    <li>
                      Led multi-dimensional marketing optimization across
                      display, PPC, email, and SEO, increasing revenue by 25%.
                    </li>
                    <li>
                      Implemented UX/UI enhancements with A/B testing,
                      recordings, and heatmaps, increasing conversions by 30%
                    </li>
                    <li>
                      Guided engineering in aligning product prototypes with
                      optimal UX design principles and business objectives.
                    </li>
                  </ResumePosition>
                  <ResumePosition
                    position="Inbound Marketing and Content Strategy"
                    company="Cruiseline.com"
                    date="2015 - 2018"
                    link="https://cruiseline.com/"
                  >
                    <li>
                      Crafted a robust content and email strategy, enhancing
                      site and email presence through rebranding, SEO, and
                      compelling editorial pieces which led to a 900% increase
                      in site traffic.
                    </li>
                    <li>
                      Managed weekly analytics, leveraging insights to optimize
                      content and marketing strategies.
                    </li>
                    <li>
                      Performed usability testing on new products, writing
                      detailed feedback and bug reports for the dev team to
                      optimize new features before launch.
                    </li>
                  </ResumePosition>
                </div>
                <!-- Education -->
                <div class="mb-20">
                  <h2 class="mb-4 mt-4">Education</h2>
                  <div class="flex flex-col gap-[4px]">
                    <span>
                      <strong>Galvanize: Hack Reactor &nbsp; | &nbsp;</strong> Advanced
                      Software Engineering Immersive Program
                    </span>
                    <span>
                      <strong>SUNY New Paltz &nbsp; | &nbsp;</strong> BA & MA in
                      English, minored in Philosophy, Political Science, and Religious
                      Studies
                    </span>
                  </div>
                </div>
                <div
                  class="flex flex-col md:flex-row items-center justify-center gap-4"
                >
                  <Button
                    text="Download"
                    type="tertiary"
                    link="/Thomas Faddegon - Product Engineer Resume 2024.pdf"
                    target="_blank"
                  />
                  <Button
                    text="Get in Touch"
                    type="secondary"
                    link="/contact"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <Footer />
    </main>
    <style>
      li {
        margin-bottom: 0.3rem;
        line-height: 1.6rem;
      }
    </style>
  </body>
</html>
