---
import H3 from "../components/H3.astro";
import { Image } from "astro:assets";

export interface Props {
  title: string;
  text?: string;
  image: any;
}

const { title, text, image } = Astro.props as Props;
---

<div class={`mb-12`}>
  <div class=`flex flex-col gap-4 items-center`>
    <div>
      <Image
        src={image}
        alt="certification icon"
        height="150"
        width="150"
        class="border rounded-full"
      />
    </div>
    <div class="flex flex-col gap-3 items-center">
      <H3 header={title} centered="True" />
      <p class="text-center">{text}</p>
    </div>
  </div>
</div>
