---
import Icons from "./Icons.astro";

const today = new Date();
---

<footer class="bg-purple text-center">
  <div class="container container-large">
    <div class="padding-global">
      <div class="w-full h-full py-24 items-center flex flex-col">
        <div class="flex flex-col md:flex-row gap-20 mb-8 font-bold text-lg">
          <a href="/contact">Portfolio</a>
          <a href="/contact">Blog</a>
          <a href="/contact">Contact</a>
        </div>
        <div class="mb-4 p-2">
          <p>
            &copy; {today.getFullYear()} Thomas Faddegon. All rights reserved.
          </p>
        </div>

        <div>
          <Icons />
        </div>
      </div>
    </div>
  </div>
</footer>
<style>
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
