---
import Icons from "./Icons.astro";

const today = new Date();
---

<footer>
  <div class="bg-purple w-full h-full py-24 items-center flex flex-col">
    <div>
      <p>&copy; {today.getFullYear()} Thomas Faddegon. All rights reserved.</p>
    </div>

    <div>
      <Icons />
    </div>
  </div>
</footer>
<style>
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
