---
const { header, centered } = Astro.props as {
  header: string;
  centered: boolean;
};

const center = centered ? "text-center" : "";
---

<div class="mb-4 flex flex-row justify-center">
  <div class="text-purple text-2xl mt-[-2px] flex flex-col justify-center">
    <div>&lt;</div>
  </div>
  <div class="xl:max-w-[99rem] max-w-[11rem] px-2">
    <h3 class=`${center}`>{header}</h3>
  </div>
  <div class="text-purple text-2xl mt-[-2px] flex flex-col justify-center">
    <div>&gt;</div>
  </div>
</div>
