---
const { centered, header } = Astro.props as {
  header: string;
  centered: boolean;
  children: any;
};

const center = centered ? "text-center" : "";
---

<div class="flex flex-row">
  <div class="text-purple text-2xl mt-[-2px] flex flex-col justify-center">
    <div>&lt;</div>
  </div>
  <div class="max-w-[14rem] px-2">
    <h3 class=`${center}`>{header}</h3>
  </div>
  <div class="text-purple text-2xl mt-[-2px] flex flex-col justify-center">
    <div>&gt;</div>
  </div>
</div>

<style>
  h3 {
    z-index: 10;
  }
</style>
