---
const { href, text, classNames } = Astro.props as {
  href: string;
  text: string;
  classNames: string;
};

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<div class="rounded-xl flex items-center justify-center h-8">
  <a
    href={href}
    class:list={[{ active: isActive }]}
    class=`rounded-full flex items-center justify-center py-1 px-3 ${classNames}`
  >
    {text}
  </a>
</div>

<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    background-color: #4b4bfa;
  }
</style>
