<div class="w-12 h-12">
  <!--?xml version="1.0" encoding="UTF-8"?-->
  <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.14 54.14"
    ><defs
      ><style>
        .cls-1 {
          fill: none;
          stroke: #fff;
          stroke-miterlimit: 10;
        }
        .cls-2 {
          fill: #fff;
          stroke-width: 0px;
        }
      </style></defs
    ><g id="Layer_1-2"
      ><rect
        class="cls-1"
        x=".5"
        y=".5"
        width="53.14"
        height="53.14"
        rx="26.57"
        ry="26.57"></rect><path
        class="cls-2"
        d="m38.68,20.37v-2.84c0-.11-.09-.21-.21-.21h-4.39v-.02h-17.45v.02h-4.39c-.11,0-.21.09-.21.21v2.84c0,.11.09.21.21.21h10.75c.11,0,.21.09.21.21v19.57c0,.11.09.21.21.21h3.9c.11,0,.21-.09.21-.21v-9.02c0-.11.09-.21.21-.21h10.75c.11,0,.21-.09.21-.21v-2.84c0-.11-.09-.21-.21-.21h-10.75c-.11,0-.21-.09-.21-.21v-6.87c0-.11.09-.21.21-.21h10.75c.11,0,.21-.09.21-.21Z"
      ></path></g
    ></svg
  >
</div>

<style>
  svg:hover path {
    fill: #c8c8c8;
  }
</style>
