---
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
import Icons from "./Icons.astro";
---

<header class="py-8">
  <nav>
    <div class="container container-large">
      <div class="nav-content w-full flex justify-between items-center">
        <a href="/"><Logo /></a>
        <div
          class="bg-slate-900 px-8 rounded-full flex items-center gap-4 h-16 drop-shadow-[0px_0px_5px_rgba(255,255,255,0.75)]"
        >
          <div class="flex items-center gap-4 max-h-[10px]">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/portfolio">Portfolio</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/about">Contact</HeaderLink>
          </div>
        </div>
        <Icons />
      </div>
    </div>
  </nav>
</header>

<style>
  header {
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav a {
    padding: 0.5em 1em;
  }

  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
