---
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
import Icons from "./Icons.astro";
---

<header class="w-full nav z-50 bg-transparent">
  <nav>
    <!-- Desktop & Tablet -->
    <div class="hidden md:flex py-5">
      <div class="container container-large">
        <div class="padding-global">
          <div class="padding-extra">
            <div class="nav-content w-full flex justify-between items-center">
              <div><a href="/"><Logo /></a></div>

              <div
                class="bg-slate-900 px-8 rounded-full flex items-center gap-4 h-14 drop-shadow-[0px_0px_2px_rgba(255,255,255,0.75)]"
              >
                <div class="flex items-center gap-6">
                  <HeaderLink href="/" text="Home" />
                  <HeaderLink href="/blog" text="Blog" />
                  <HeaderLink href="/resume" text="Resume" />
                  <HeaderLink href="/contact" text="Contact" />
                </div>
              </div>
              <Icons />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile -->
    <div class="bg-black md:hidden border-b border-gray-200 py-2 z-50">
      <div class="px-6 sm:px-8 flex justify-between items-center">
        <a href="/"><Logo /></a>
        <!-- Mobile Hamburger Menu Button -->
        <button id="hamburger-btn" class="text-white focus:outline-none">
          <!-- Icon from Heroicons (https://heroicons.com/) -->
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>
    </div>

    <!-- Mobile Menu Overlay -->
    <div
      id="mobile-menu"
      class="inset-0 bg-black bg-opacity-90 hidden z-1 h-screen"
    >
      <!-- Mobile Menu Content -->
      <div
        class="text-white flex items-center justify-center h-full flex-col gap-4"
      >
        <HeaderLink href="/" classNames="block text-xl px-4 py-2" text="Home" />

        <!-- <HeaderLink
          href="/#portfolio"
          classNames="block text-xl px-4 py-2 bg-blue-700"
          text="Portfolio"
        /> -->
        <HeaderLink
          href="/contact"
          classNames="block text-xl px-4 py-2"
          text="Contact"
        />

        <HeaderLink href="/resume" text="Resume" />
        <Icons />
      </div>
    </div>
  </nav>
</header>

<!-- <div class="h-10 bg-black"></div> -->

<style>
  header {
    transition:
      top 0.6s,
      background-color 0.5s,
      border-color 0.5s;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  @media (min-width: 768px) {
    header {
      top: 20px;
    }
  }

  @media (max-width: 768px) {
    .social-links {
      display: none;
    }
  }
</style>

<script>
  // const header = document.querySelector("header");

  // if (!header) {
  //   throw new Error("No header found");
  // }

  // window.addEventListener("scroll", () => {
  //   const hasScrolled = window.scrollY > 0; // Check if the user has scrolled down

  //   if (window.innerWidth >= 768) {
  //     if (hasScrolled) {
  //       // User has scrolled - start transitions
  //       header.style.top = "0"; // Move the navbar up
  //       header.style.backgroundColor = `rgba(0, 0, 0, 1)`; // Make background fully opaque
  //       header.style.borderColor = `rgba(255, 255, 255, 1)`; // Adjust border color if needed
  //     } else {
  //       // User is at the top of the page - reset styles
  //       header.style.top = "20px"; // Original position
  //       header.style.backgroundColor = `rgba(0, 0, 0, 0)`; // Fully transparent background
  //       header.style.borderColor = `rgba(255, 255, 255, 0)`; // Transparent border
  //     }
  //   } else {
  //     // For smaller screens, you might want to keep or adjust these settings
  //     header.style.backgroundColor = ""; // Optionally reset for smaller screens
  //     header.style.borderColor = "";
  //     header.style.top = "";
  //   }
  // });

  const hamburgerBtn = document.getElementById("hamburger-btn");
  const mobileMenu = document.getElementById("mobile-menu");

  if (hamburgerBtn && mobileMenu) {
    hamburgerBtn.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
    });
  }

  if (mobileMenu) {
    mobileMenu.addEventListener("click", () => {
      mobileMenu.classList.add("hidden");
    });
  }
</script>
