---
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
import Icons from "./Icons.astro";
---

<header class="w-full bg-transparent">
  <nav>
    <!-- Desktop & Tablet -->
    <div class="hidden md:flex py-5">
      <div class="container container-large">
        <div class="padding-global">
          <div class="padding-extra">
            <div class="nav-content w-full flex justify-between items-center">
              <div><a href="/"><Logo /></a></div>

              <div
                class="bg-slate-900 px-8 rounded-full flex items-center gap-4 h-14 drop-shadow-[0px_0px_2px_rgba(255,255,255,0.75)]"
              >
                <div class="flex items-center gap-4 lg:gap-6">
                  <HeaderLink href="/" text="Home" />
                  <!-- <HeaderLink href="/blog" text="Blog" /> -->
                  <HeaderLink href="/resume" text="Resume" />
                  <HeaderLink href="/contact" text="Contact" />
                </div>
              </div>
              <Icons />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile -->
    <div
      class="bg-black md:hidden border-b border-gray-200 py-4 fixed top-0 z-50 w-full"
      id="mobile-nav"
    >
      <div class="px-6 sm:px-8 flex justify-between">
        <a href="/"><Logo /></a>
        <!-- Mobile Hamburger Menu Button -->
        <button id="hamburger-btn" class="text-white focus:outline-none">
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>
    </div>

    <!-- Mobile Menu Overlay -->
    <div
      id="mobile-menu"
      class="inset-0 bg-black pt-32 bg-opacity-90 hidden z-1 h-screen text-xl"
    >
      <!-- Mobile Menu Content -->
      <div class="text-white flex items-center h-full flex-col gap-8">
        <HeaderLink href="/" classNames="block text-xl px-4 py-2" text="Home" />
        <HeaderLink href="/resume" text="Resume" />
        <!-- <HeaderLink href="/blog" text="Blog" /> -->
        <HeaderLink
          href="/contact"
          classNames="block text-xl px-4 py-2 1"
          text="Contact"
        />

        <Icons />
      </div>
    </div>
    <div class="py-10 md:py-0"></div>
  </nav>
</header>

<style>
  h2 {
    margin: 0;
    font-size: 1em;
  }

  @media (min-width: 768px) {
    header {
      top: 20px;
    }
  }

  @media (max-width: 768px) {
    .social-links {
      display: none;
    }
  }
</style>

<script>
  const hamburgerBtn = document.getElementById("hamburger-btn");
  const mobileMenu = document.getElementById("mobile-menu");

  if (hamburgerBtn && mobileMenu) {
    hamburgerBtn.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
    });
  }

  if (mobileMenu) {
    mobileMenu.addEventListener("click", () => {
      mobileMenu.classList.add("hidden");
    });
  }
</script>
