---
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import graphic from "../images/graphics/graphic-1.webp";
---

<section class="">
  <div class="bg-purple min-h-96">
    <div class="container container-large">
      <div class="padding-global relative overflow-visible">
        <div class="grid grid-cols-5 gap-8 py-16">
          <div
            class="col-span-5 lg:col-span-2 bg-purple flex items-center md:px-8 lg:px-0"
          >
            <Image
              src={graphic}
              class="rounded-xl"
              height="500"
              width="500"
              alt="ux dev engineering graphic"
            />
          </div>
          <div class="col-span-5 lg:col-span-3 bg-purple py-6 md:px-8">
            <!-- content -->
            <div class="flex flex-col gap-4">
              <h5>My Philosophy & Process</h5>
              <h2>
                Code makes things work, <br /> empathy makes them feel right
              </h2>
              <div class="mb-4">
                <p>
                  As a UX Engineer, I work across the realms of design,
                  development, and product strategy. I specialize in steering
                  new products from the initial concept stage through to
                  completion, as well as refining existing products with
                  data-driven insights. The experience of the user lies at the
                  heart of all my recommendations, as <strong
                    >the success of a product is often determined not by the
                    code, but by how it makes its users feel.</strong
                  >
                </p>

                <p>
                  My process begins by using my UX design intuition to spot
                  areas of friction, confusion, and overlooked opportunities.
                  Next, I delve deeply into the data, analyzing user engagement
                  metrics and conversion rates to validate my initial
                  observations and form new hypotheses. Armed with these
                  insights, I propose and then personally implement the
                  necessary changes to the front end, making sure that all KPIs
                  are tracked properly for use in performance retrospectives and
                  future optimizations.
                </p>

                <p>
                  This comprehensive strategy not only elevates user experience
                  but also yields concrete business outcomes, guaranteeing that
                  every product surpasses both customer expectations and
                  organizational objectives.
                </p>
                <div class="mt-8">
                  <Button href="/contact" type="primary" text="Get in Touch" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
