---
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
import graphic from '../images/graphics/website-manager.png';
---

<section class=''>
  <div class='bg-purple'>
    <div class='container container-large'>
      <div class='padding-global relative overflow-visible'>
        <div class='padding-extra'>
          <div class='grid grid-cols-1 xl:grid-cols-2 py-24 gap-8'>
            <div class='col-span-1 bg-purple flex items-center'>
              <Image
                src={graphic}
                class='rounded-xl'
                height='500'
                width='500'
                alt='ux dev engineering graphic'
              />
            </div>
            <div class='col-span-1 bg-purple py-6'>
              <!-- content -->
              <div class='flex flex-col'>
                <h5>What I Provide</h5>
                <h2 class='my-2'>5 Ways I Can Supercharge Your Team</h2>
                <p>
                  My work as a website manager spans the realms of development,
                  content, and product strategy. Here's what I bring to the
                  table:
                </p>
                <p>
                  <span class='font-bold'
                    >1. Improved Cross-Team Collaboration:
                  </span>

                  I use my diverse background to act as a bridge between design,
                  development, and marketing teams, supporting the product
                  vision with strong technical foundations.
                </p>
                <p>
                  <span class='font-bold'>2. Content-First Approach:</span>
                  I empower writers and editors to work quickly and efficiently by
                  structuring websites and CMS's with SEO-driven, scalable content
                  models.
                </p>
                <p>
                  <span class='font-bold'
                    >3. Holistic Performance Strategy:</span
                  >

                  I synthesize data from diverse sources like user beavhior
                  metrics, SEO tools, Core Web Vitals to improve website
                  performance across the board.
                </p>

                <p>
                  <span class='font-bold'>4. Stakeholder Alignment:</span>
                  I pride myself on my ability to demystify technical concepts for
                  non-technical stakeholders and break down the impact of technical
                  choices on business outcomes.
                </p>
                <p>
                  <span class='font-bold'
                    >5. Documentation & Knowledge Sharing:</span
                  >
                  I create clear, scalable documentation to make onboarding easier
                  and preserve institutional knowledge across teams.
                </p>

                <div class='mt-8'>
                  <Button link='/contact' type='primary' text='Get in Touch' />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
