---
import Button from "../components/Button.astro";
---

<section>
  <div class="bg-purple min-h-96">
    <div class="container container-large">
      <div class="padding-global">
        <div class="grid grid-cols-5">
          <div class="col-span-2 bg-blue-300">col 1</div>
          <div class="col-span-3 bg-purple py-16 px-8">
            <!-- content -->
            <div class="flex flex-col gap-4">
              <h5>My Philosophy</h5>
              <h2>
                Code makes things work, <br /> empathy makes them feel right
              </h2>
              <div class="mb-4">
                <p>
                  In the digital landscape, clean, scalable, and robust code is
                  the cornerstone for any successful product. But even though
                  code lays an essential foundation, <strong
                    >success is equally determined by how a product makes its
                    users feel.</strong
                  > Does it anticpate user needs? Does it make a user feel valued
                  and understood?
                </p>
                <p>
                  This is where my contribution becomes pivotal. My specialty
                  lies in leveraging my deep understanding of user behavior,
                  front-end development, and web analytics to steer the design
                  and development process, ensuring that the final product
                  doesn't just meet technical benchmarks but also delivers an
                  experience intuitively aligned with user expectations and
                  aspirations.
                </p>

                <!-- <p>
                In the digital landscape, clean, scalable, and robust code is
                the foundation for any successful product. By blending
                established best practices with emerging technologies, we ensure
                a product that is both reliable and cutting-edge. However, a
                foundation by itself is not a building, but rather the mere
                potential of one.
              </p>
              <p>
                The success of a digital product is ultimately determined not by
                its code base, but in how it makes the user feel. A product is
                set apart from its competitors is one that makes its user feel
                valued and understood, one that offers anticpates user needs and
                offers solutions before the user even realizes they need them.
              </p>
              <p>
                This is where my contribution becomes pivotal. My specialty lies
                in understanding user behavior and pain points, a skill honed
                through a decade of diverse web experience. I leverage this deep
                understanding of the user to steer the design and development
                process, ensuring that the final product doesn't just meet
                technical benchmarks but also delivers an experience intuitively
                aligned with user expectations and aspirations.
              </p> -->
              </div>
              <div><Button text="Learn More" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
