---
import { Image } from "astro:assets";
import Button from "./Button.astro";

export interface Props {
  header: string;
  image: string;
  tags: string[];
  text: string;
  link: string;
}

const { header, image, tags, text, link } = Astro.props as Props;
---

<div class="bg-black rounded-xl p-10">
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-12">
    <div class="lg:col-span-5 drop-shadow-[0px_0px_5px_rgba(255,255,255,0.75)]">
      <img
        src="src/images/projects/planet-facts.png"
        alt=""
        class="rounded-lg"
      />
    </div>
    <div class="lg:col-span-7 flex flex-col gap-4">
      <h3 class="font-bold">{header}</h3>
      <div class="flex flex-row flex-wrap">
        {tags.map((tag) => <h6 class="mr-5">{tag}</h6>)}
      </div>
      <p class="">{text}</p>
      <div><Button text="See Project" type="tertiary" /></div>
    </div>
  </div>
</div>
