---
// import { Swiper, SwiperSlide } from "swiper/react";
// import "swiper/css";
// import Carousel from "./Carousel.jsx";
import Card from "./Card.astro";
import caroline from "../images/people/caroline.jpeg";
import georgia from "../images/people/georgia.jpeg";
import Button from "./Button.astro";
---

<section>
  <div class="container container-large">
    <div class="padding-global py-24 lg:py-36">
      <div class="padding-extra">
        <div>
          <h2 class="mb-12">Here's what my clients have to say.</h2>
          <div class="flex flex-col lg:flex-row gap-0 lg:gap-24 mb-4">
            <!-- <Carousel client:load /> -->
            <Card
              header="Georgia Pettit"
              title="Co-Founder @ The Luminary Agency"
              text="Tom's data-driven approach to website optimization was a game-changer for our agency. His ability to translate analytics into actionable insights led to a remarkable increase in our conversion rates across all of our clients, and his development knowledge was invaluable in implementing these changes."
              icon={georgia}
              link="https://www.linkedin.com/in/georgiapettit/"
              classes="w-full lg:w-1/2 max-w-lg"
              rounded={true}
            />
            <Card
              header="Caroline Adams Vulcano"
              title="Founder @ Caroline Parker Creative"
              text="Tom is a person you want on your team. Dependable, efficient, and extremely talented, Tom is a rare breed that can dig in deep into a project and then present it beautifully. He has an eye for beautiful interfaces, the knowledge to back up his choices, and the skill to craft high-end products."
              icon={caroline}
              link="https://www.linkedin.com/in/carolinepadams/"
              classes="w-full max-w-lg lg:w-1/2 "
              rounded={true}
            />
          </div>
          <div class="flex pt-8">
            <Button text="Get In Touch" type="tertiary" link="/contact" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
